@font-face {
	font-family: 'MultiTypePixel';
	src: url('/fonts/MultiTypePixel-Display.otf');
	font-display: swap;
}

@font-face {
	font-family: 'MultiTypePixel-Regular';
	src: url('/fonts/MultiTypePixel-RegularSC.otf');
	font-display: swap;
}

@font-face {
	font-family: 'Pixter-Granular';
	src: url('/fonts/Pixter-Granular.ttf');
	font-display: swap;
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100dvh;
	margin: 0;
}

body {
	overflow: hidden;
	background: #05040b;
	overscroll-behavior: none;
}

button,
a {
	-webkit-tap-highlight-color: transparent;
}

img {
	-webkit-user-select: none; /* Safari e Chrome antigo */
	-moz-user-select: none; /* Firefox antigo */
	-ms-user-select: none; /* Internet Explorer/Edge antigo */
	user-select: none; /* Padrão atual */
}
